<?xml version="1.0" encoding="utf-8"?>

<resources>
<!-- Uncomment these two and replace with your debug maps key (for the beta value) and signed maps key
	<string name="maps_api_key">PUT REAL KEY HERE</string>
	<string name="maps_api_key_beta">PUT BETA KEY HERE</string>
	-->
</resources>
